html
    center 
        h1 Welcome to the back-end of Kaja :D enjoy your stay!!!!
        a(href="/images" target="_blank") 
            h2 To access access image data click
        a(href="/names" target="_blank") 
            h2 To access access name data click here
        a(href="/urls" target="_blank") 
            h2 To access access urls data click here