html
    center 
        h1 Welcome to the back-end of Kaja :D enjoy your stay!!!!
        a(href="/sample" target="_blank") 
            h2 To access cached location data in json format click here
        a(href="/info" target="_blank") 
            h2 To access access info data in json format click here
        a(href="/info" target="_blank") 
            h2 To access access info data in json format click here



            