@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --coral: #FF6B6B;
  --light-coral: #FFBCBC;
  --dark-coral: #EE5656;
  --turquoise-dark: #30C0B0; /* Adjust as needed for hover effect */
  --off-white: #F5F5F5;
  --off-whitep: #9c9c9c;
  --bright-blue: #007BFF;
  --black: #000;
}

.bg-coral {
  background-color: var(--coral);
}

.bg-light-coral {
  background-color: var(--light-coral);
}

.bg-dark-coral {
  background-color: var(--dark-coral);
}

.bg-bright-blue {
  background-color: var(--bright-blue);
}

.text-off-white {
  color: var(--off-white);
}

.text-off-whitep {
  color: var(--off-whitep);
}

.text-black {
  color: var(--black);
}

.bg-off-white {
  background-color: var(--off-white);
}

.about-section {
  height: 700px;
}



.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: white;
  padding: 16px;
  z-index: 1000;
  border-radius: 4px;
  opacity: 0.9;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.dragging {
  @apply border border-dashed border-blue-300;
  animation: glow 1.5s infinite alternate;
}


.bg-cerulean {
  background-color: #4a90e2;
}

.bg-forest-green {
  background-color: #4CAF50;
}

.bg-dreamy-purple {
  background-color: #9370DB;
}

.bg-earthy-brown {
  background-color: #A0522D;
}

.text-cerulean {
  color: #4a90e2;
}

.text-forest-green {
  color: #4CAF50;
}

.text-dreamy-purple {
  color: #9370DB;
}

.text-earthy-brown {
  color: #A0522D;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-shadow {
  text-shadow: 3px 3px 4px black;
}

@font-face {
  font-family: 'HedvigLetters';
  src: url('/font/HedvigLettersSerif_14pt-Regular.ttf') format('truetype');
  font-weight: 100;
  font-style: thin;
}


@font-face {
  font-family: 'Montserrat';
  src: url('/font/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: regular;
}

input:focus {
  outline: none;
}